nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

nav a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    text-align: center;
    margin: 0 36px; 
}

nav a:first-child {
    margin-left: 0; 
}

.content {
    width: 1400px;
    height: 552px;
    position: relative;
    margin: 0 auto; 
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00BDC9;
}

.image-frame {
    position: absolute;
    width: 599px;
    height: 368px;
    top: 92px;
    left: 401px;
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-block {
    width: 856px;
    height: 920px;
    padding: 88px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64.8px;
    text-align: center;
    margin: 0 auto; 
}

.content-block p {
    margin: 0;
    margin-top: 40px;
}

.content-block strong {
    font-weight: 600;
}


.content-block {
    width: 856px;
    height: 160px;
    padding: 88px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 31.5px;
    text-align: center;
    color: #000; 
}

.content-block span {
    color: #04959E; 
}

